h1 {
    color: orange;
    font-family: 'Segoe UI';
}

.kotak {
    padding: 50px;
    /*Memberi jarak dalam pada kotak*/
    width: 100px;
    /*Membuat lebar kotak 100px*/
    height: 50px;
    /*Membuat tinggi kotak 50px*/
    color: #fff;
    /*Memberi warna pada text /font*/
    margin: 10px;
    /*Memberi jarak luar kotak*/
    background: #0288d1;
    /*Memberi warna kotak*/
    float: left;
    /*Membuat kotak jadi ke samping kiri*/
}

#kotak {
    padding: 50px;
    width: 100px;
    color: #666666;
    height: 50px;
    margin: 10px;
    background: #f8bbd0;
    float: left;
}