h1 {
    color: orange;
    font-family: 'Segoe UI';
}

.kotak {
    padding: 50px;
    width: 100px;
    height: 50px;
    color: #fff;
    margin: 10px;
    background: #0288d1;
    float: left;
}

.ungu {
    background: rgb(212, 78, 212);
}

.pink {
    background: pink;
    color: grey;
}

#kotak {
    padding: 50px;
    width: 100px;
    height: 50px;
    color: #fff;
    margin: 10px;
    background: orange;
    float: left;
}